@page
@model Web.Pages.Administracion.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "Shared/_InLayout";
}



<div class="content__inner" id="cardPrincipal">

    <div class="col-md-12" id="divGrid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Módulo de administración</h4>
            </div>
        </div>
    </div>

</div>


