@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<aside class="sidebar">
    <div class="scrollbar-inner">
        <div class="user">
            <div class="user__info" data-toggle="dropdown">
            </div>
        </div>
        <ul class="navigation">

            <li class="navigation__sub navigation__sub--active navigation__sub--toggled">
                <a href=""><icon name="chart-line" /> Administrar</a>
                <ul class="navigation__sub">
                    <li><a asp-page="/Administracion/Ofertas"> <icon name="chart-line" /> Ofertas</a></li>
                    <li><a asp-page="/Administracion/Tasaciones"> <icon name="chart-line" /> Tasaciones</a></li>
                    <li><a asp-page="/Administracion/Usuarios"> <icon name="chart-line" /> Usuarios</a></li>
                </ul>
            </li>

        </ul>
    </div>
</aside>