@page
@model Web.Pages.Publico.GraciasPorContactoModel
@{
    ViewData["Title"] = "Gracias";
}

<section class="pb_cover_v3 text-left overflow-hidden jumbobotronblue" id="section-home" style="border-bottom: 15px solid #6ed9ff">
    <div class="container">
        <div class="row align-items-center justify-content-center mt-3">
            <div class="col-md-12">
                <div class="card bg-white rounded">
                    <div class="card-body text-center">
                        <div class="p-3">
                            <h2 class="mt-3 mb-3">
                                Muchas gracias, pronto nos pondremos en contacto con usted
                            </h2>
                        </div>
                        <div class="p-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>