@page
@model Web.Pages.Publico.TasacionModel
@{
    ViewData["Title"] = "Tasacion";
}

<section class="pb_cover_v3 text-left overflow-hidden jumbobotronblue" id="section-home" style="border-bottom: 15px solid #6ed9ff">
    <div class="container">
        <div class="row align-items-center justify-content-center mt-5">
            <div class="col-md-7">
                <div class="card bg-white rounded">
                    <div class="card-body text-center">
                        <div class="p-3">
                            <h2 class="mt-3 mb-3">QUEREMOS COMPRAR TU AUTOMOVIL TE OFRECEMOS</h2>
                            <div class="alert alert-info">
                                <h3>@Model.Vm.GlosaVehiculo</h3>
                                <h3>
                                    <strong>$ @Model.Vm.OfertaHasta </strong> - <strong>$ @Model.Vm.OfertaDesde</strong>
                                </h3>
                            </div>
                        </div>
                        <div class="p-1">
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <img src="~/images/vendetujoyita.png" alt="compra" class="img-fluid" />
                                </div>
                                <div class="col-md-8">
                                    <p>
                                        Esta tasación considera un auto en óptimas condiciones.
                                    </p>
                                    <p>
                                        Este valor podria modificarse dependiendo del estado del vehículo.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 relative align-self-center mt-4" style="z-index:100">
                <form method="post" class="bg-white rounded pb_form_v1">
                    <h4 class="mb-1 mt-0 text-center">Solicita tu inspección</h4>
                    <p>
                        Agenda tu inspección para recibir la oferta final
                    </p>

                    <input asp-for="Vm.IntencionVendenosId" />


                    <div class="form-group">
                        <input asp-for="Vm.Nombre" class="nombre form-control pb_height-50 reverse" placeholder="NOMBRE">
                        <span asp-validation-for="Vm.Nombre" class="invalid-feedback"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="Vm.Telefono" type="tel" class="celular form-control pb_height-50 reverse" placeholder="TELÉFONO">
                        <span asp-validation-for="Vm.Telefono" class="invalid-feedback"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="Vm.Correo" type="email" class="form-control pb_height-50 reverse" placeholder="CORREO">
                        <span asp-validation-for="Vm.Correo" class="invalid-feedback"></span>
                    </div>

                    @*<div class="form-group">
                        <div class="pb_select-wrap">
                            <select asp-for="Vm.ComunaId" asp-items="Model.Comunas" class="form-control pb_height-50 reverse">
                                <option value="" selected>Comuna</option>
                            </select>
                            <span asp-validation-for="Vm.ComunaId" class="invalid-feedback"></span>
                        </div>
                    </div>*@
                    @*<div class="form-group">
                            <div class="pb_select-wrap">
                                <select asp-for="Vm.TallerId" class="form-control pb_height-50 reverse">
                                    <option value="" selected>Taller</option>
                                </select>
                            </div>
                        </div>*@
                    @*<div class="form-group">
                        <input asp-for="Vm.Fecha" type="date" class="form-control pb_height-50 reverse" placeholder="Fecha">
                        <span asp-validation-for="Vm.Fecha" class="invalid-feedback"></span>
                    </div>*@

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" value="Agendar">
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>



<section class="pb_section" id="section-politicas">
    <a style="position: absolute; right: 0; top: -80px;">
        <img src="~/images/chat.png" width="150" />
    </a>
    <div class="container">


        <div class="row mt-5">
            <div class="col-md-3">
                <div class="text-center">
                    <img src="~/images/vendetujoyita.png" alt="compra" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-9">
                <div class="pb_pricing_v1">
                    <h1>
                        ¿QUÉ SUCEDE DURANTE LA INSPECCIÓN?
                    </h1>
                    <ul>
                        <li>Revisaremos el estado mecánico, estético y documental de tu auto antes de hacerte una oferta final</li>
                        <li>Tu decides si aceptas nuestra oferta o no, sin compromiso</li>
                        <li>Tu aceptas nuestra oferta, nosotros nos encargamos del papeleo</li>
                        <li>Pagamos por transferencia electrónica ¡seguro y al instante!</li>
                        <li>Listo</li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</section>

@section Scripts
    {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.numeros').mask("#,##0", { reverse: true });
            $('.celular').mask('0 0000 0000');
            $('.nombre').mask('AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', { 'translation': { A: { pattern: /[áéíóúÁÉÍÓÚñÑA-Za-z ]/ } } });
        });
    </script>

}


